<% title "User ##{4242}" %>

<p>
  <strong>Name:</strong>
  <%=link_to @user,@user %>
</p>
<p>
  <strong>Goliardic name:</strong>
  <%=goliardic_link( @user) %>
</p>
<p>
  <strong>Posts:</strong>
  <%=@user.posts.map{|p| link_to(p,p) }.join(', ') %>
  <%#=#h @user.user_id %>
</p>
<p>
  <strong>About:</strong>
  <%= h @user.about_you %>
  <%#=#h @user.user_id %>
</p>

<p>
  <%= link_to "Edit YOURSELF", edit_user_path(@user) %> |
  <%= link_to "Destroy YOURSELF", @user, :confirm => 'Are you sure?', :method => :delete %> |
  <%#= link_to "View All", users_path %>
</p>
