<% title @user.name.capitalize %>


<p>
  <strong>Goliardic name:</strong>
  <%=goliardic_link( @user) %>
</p>
<p>
  <strong>Posts:</strong>
  <%=@user.posts.map{|p| link_to(p,p) }.join(', ') %>
  <%#=#h @user.user_id %>
</p>
<p>
  <strong>About:</strong>
  <%= h @user.about_you %>
  <%#=#h @user.user_id %>
</p>

<p>
  <%= icon_link_to 'edit',   "Edit YOURSELF", edit_user_path(@user) %> |
  <%= icon_link_to 'delete', "Destroy YOURSELF", @user, :confirm => 'Are you sure?', :method => :delete %> |
  <%#= link_to "View All", users_path %>
</p>
