<% form_for @post do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    Father Post ID<br />
    <%= f.text_field :post_id %>
  </p>
  <p>
    <%= f.label :publish_start %><br />
    <%= f.text_field :publish_start %>
  </p>
  <p>
    <%= f.label :publish_end %><br />
    <%= f.text_field :publish_end %>
  </p>


  <p><%= f.submit %></p>
<% end %>
