<%
	@posts = Post.find_all_by_active_and_user_id(true, @current_user.id ) rescue Post.find_all_by_active(true)
	@posts = @posts - [ @post ] # remove myself! Cool!
%>
<h1>
 <%= @current_user rescue 'curruser' %>
</h1>
<% form_for @post do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    Father Post ID<br />
    <%#= f.text_field :post_id %>
    <%= f.collection_select :post_id, @posts, :id, :name_and_user %>
  </p>
  <p>
    <%= f.label :publish_start %><br />
    <%= f.text_field :publish_start %>
  </p>
  <p>
    <%= f.label :publish_end %><br />
    <%= f.text_field :publish_end %>
  </p>


  <p><%= f.submit %></p>
<% end %>
