<% title "Posts" %>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th>Father</th>
    <th>Sons</th>
    <th>Actions</th>
  </tr>
  <% for post in @posts %>
    <tr>
      <td><b><%=link_to post, post %></b></td>
      <td><%=user_link( post.user) rescue '-' %></td>
      <td><%= father_post_link(post) %></td>
      <td><%= sons_post_link(post).size %></td>
      <td>
		<%= icon_link_to 'edit', "", edit_post_path(post) %>
        <%= icon_link_to 'delete', "", post, :confirm => 'Are you sure?', :method => :delete %>
	  </td>
    </tr>
  <% end %>
</table>

<p><%= icon_link_to 'new', "New Post", new_post_path %></p>
