<% title "Posts" %>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th>User</th>
    <th>Post</th>
  </tr>
  <% for post in @posts %>
    <tr>
      <td><%=h post.name %></td>
      <td><%=h post.content %></td>
      <td><%=h post.user_id %></td>
      <td><%=h post.post_id %></td>
      <td><%= link_to "Show", post %></td>
      <td><%= link_to "Edit", edit_post_path(post) %></td>
      <td><%= link_to "Destroy", post, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Post", new_post_path %></p>
