<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= yield(:head) %>
  </head>
  <body>
	<div id='header'>
		[ 
		<%= icon_link_to 'home', 'home', '/' %> | 
		<%= icon_link_to 'models/post','posts', posts_path %> |
		<%= icon_link_to 'models/role','roles', roles_path %>|
		<%= icon_link_to 'models/user','users', users_path %>
		]
	</div>
	<div id='auth' align='right' >
	   <% if logged_in? %>
	     Welcome <b class='user'><%= icon_link_to 'user', current_user,current_user %></b> (aka <i><%= current_user.goliardic_name %></i>)! Not you?
	     <%= icon_link_to 'logout', "Log out", logout_path %>
	   <% else %>         
		 Not logged in?!?
	     <%= icon_link_to 'signup', "Sign up", signup_path %> or
	     <%= icon_link_to 'login', "log in", login_path %>.
	   <% end %>
	</div>
    <div id="container">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>
      
      <%= yield %>
    </div>
    <div class="footer" align='center' >
    	App: <b><%= @app_name rescue $! %></b> - 
    	v.<b><%= @app_version rescue $! %></b> 
    	<br/>
    	<small>Env: <b><%= @rails_env %></b>
        GitV.<a href='<%= @app_commit_repo %>' ><%= @app_git_version rescue $! %>
          </a>
        </small>
      <!-- eg try: https://github.com/palladius/riccardo_nifty_store/commit/cc36a8d36eccbf102c981791cb36282bb280c839 which is 40 chars-->
    </div>
  </body>
</html>
